body {
    position: relative;
    background-image: url('background1.png');
}

.container{
    
}

.social-icn {
    width: 450px;
    height: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.right{
    padding-left: 20em;
    padding-bottom: 20em;

}
.right p {
    font-size: 14px;
}
.right a {
    text-decoration: none;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
    color: grey;
    font-family: 'Yanone Kaffeesatz';
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
}
.title {
   margin-top: 5px;
   margin-bottom: 50px;
   padding-top: 20px; 
   padding-bottom: 20px; 
}
.title p {

    font-family: 'BenchNine';
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 50px;
    text-align: center;
}

.bottom {
    text-align: center;
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz';
}
#jumb {
    opacity: 0.5;
    background: transparent;
}
.bottom a{
    text-decoration: none;
    letter-spacing: 2px;
    color: #F29C8A;
    background-color: #302536;
    font-weight: bold;
    border: 2px solid;
    padding: 80px;

}
.temp1 {
    width: 500px;
    height: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
