<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,
initial-scale=1">
<title>Make your Portfolio</title>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/newbasic.css" rel="stylesheet">
</head>
<body class="body">
<div class="container-fluid">
    <div class="row">
        
        <div class="col-xs-8 left">
            <p></p>
        </div>
        {% block sign %} 

        <div class="col-xs-4 right">
        {% if user and not user.is_anonymous %}
        <h3>{{user.get_full_name|default:user.email}}</h3>
        <a class="btn" href="{% url 'portfolio:logout' %}">Log out</a>

        {% else %}
        <p>Have an account?</p>
        <a class="btn" href="{% url 'portfolio:login' %}">Sign In</a>
        </div>
        {% endif %}
        {% endblock %}
    </div>
    </div>
    {% block body %}
<div class="title">
    <p>Everything is design</p>
</div>
<div class="bottom">
    <div>
        <a href="{% url 'portfolio:perso'%}">Ready to build your Portfolio?</a>
</div>
</div>
{% endblock %}
</div>
</body>
</html>
