{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}
<div class="container">
    <div id="form" class="col-md-6 col-md-offset-3 jumbotron">
        <div class="text-center">
                <h3>{% block header_text %}General Information{% endblock %}</h3>
        </div>
            <form method="POST">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                                <div class="form-group row">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{field|add_class:'form-control'}}
                                                {% for error in field.errors %}
                                                        <span class="help-block"> {{ error}} </span>
                                                {% endfor %}
                                </div>
                                                {% endfor %}
                                <div class="form-group">
                                        <button type="submit" class="btn btn-success">
                                        <span class="glyphicon glyphicon-ok"></span> Save
                                        </button>
                                        <a href="{% url 'portfolio:perso' %}" class="btn btn-default">Cancel</a>
                                </div>
           </form>

</div>
</div>
{% endblock %}
