{% extends 'home.html' %}
{% load static %}
{% block body %}
<h3>{% block header_text %}Choose the template you wanna use for
        your resume{% endblock %}</h3>
<div class="first_template">
        <a href="{% url 'portfolio:first_template' %}">
                <img class="temp1" src=" {% static "temp1.png" %} "></img>
        </a>
</div>
{% endblock%}
