{% extends 'base1.html'%}
{% load static %}
{% block signin %}

{% endblock %}
{% block body %}
<div>
        {% if user and not user.is_anonymous %}
        <li>
        <h1>{{ user.get_full_name|default:user.email}}</h1>
        </li>
        <li>
        <a class="btn" href="{% url 'portfolio:logout'%}">
                Log Out
        </a>
        </li>
        {% else %}
        <div class="container">
                <div class="row">
                        <div class="login-panel panel panel-default">
                                <div class="panel-body">
                                        <form method="POST">
                                                {% csrf_token %}
                                                {{form.as_p}}

                                                <input class="btn" type="submit"  value="login" />

                                        </form>
                                </div>
                                <div class="fb-login">
                                        <a href="{% url 'social:begin' 'facebook' %}">
                                                <img class="social-icn" src=" {% static "log-with-fb.png" %}">
                                                </img>
                                        </a>
                                </div>
                        </div>
                </div>
        </div>
        {% endif %}
</div>
{% endblock %}
