{% extends 'base.html'%}
{% load static %}
{% block body %}

<div class="col-md-6 col-md-offset-3 jumbotron">
        <div class="text-center">
<h1>Education Information You Entered</h1>

<ul class="list-group">
        <li class="list-group-item"> Year: {{form.year}} </li>
        <li class="list-group-item"> Title: {{form.title}} </li>
        <li class="list-group-item"> Description: {{form.desc}} </li>
        <a class="btn btn-default" href="{% url 'portfolio:modify_education' pk=form.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
<a class="btn btn-default" href="{% url 'portfolio:experience' pk=form.pk %}"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
</div>
</div>

</ul>
{% endblock %}
