{% extends 'base.html'%}
{% load static %}
{% block body %}

<div class="col-md-6 col-md-offset-3 jumbotron">
        <div class="text-center">
<h1>Personal Information You Entered</h1>

<ul class="list-group">
        <li class="list-group-item"> Name: {{form.name}} </li>
        <li class="list-group-item"> Address: {{form.address}} </li>
        <li class="list-group-item"> Email: {{form.email}} </li>
        <li class="list-group-item"> Phone: {{form.phone}} </li>
        <li class="list-group-item"> Status: {{form.status}} </li>
        <li class="list-group-item"> Cover Letter: {{form.cover}} </li>
        <a class="btn btn-default" href="{% url 'portfolio:modify_perso' pk=form.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
<a class="btn btn-default" href="{% url 'portfolio:education' pk=form.pk %}"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
</div>
</div>

</ul>
{% endblock %}
