{% extends 'home.html'%}
{% load static %}
{% block body %}

<h3>Upload your personal picture</h3>
<form action="{% url 'portfolio:upload_picture' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
        <input id="id_image" type="file" class="" name="image">
        </p>
        <input type="submit" value="submit">
</form>
{% endblock %}
